.desktop {
  background-color: #ffffff;
  display: flex;
  flex-direction: row;
  justify-content: center;
  width: 100%;
}

.desktop .div {
  background-color: #ffffff;
  width: 1440px;
  height: 1024px;
  position: relative;
}

.desktop .overlap {
  position: absolute;
  width: 1440px;
  height: 123px;
  top: 0;
  left: 0;
  background-color: #bc9abd;
}

.desktop .text-wrapper {
  position: absolute;
  width: 278px;
  top: 45px;
  left: 581px;
  font-family: "Poppins", Helvetica;
  font-weight: 700;
  color: #000000;
  font-size: 32px;
  text-align: center;
  letter-spacing: 0;
  line-height: normal;
  white-space: nowrap;
}

.desktop .overlap-group {
  position: absolute;
  width: 638px;
  height: 90px;
  top: 247px;
  left: 401px;
  background-color: #ffffff;
  border-radius: 10px;
  border: 1px solid;
  border-color: #bc9abd;
}

.desktop .image {
  width: 140px;
  height: 87px;
  top: 0;
  left: 27px;
  position: absolute;
  object-fit: cover;
}

.desktop .text-wrapper-2 {
  position: absolute;
  top: 27px;
  left: 315px;
  font-family: "Poppins", Helvetica;
  font-weight: 700;
  color: #000000;
  font-size: 24px;
  text-align: center;
  letter-spacing: 0;
  line-height: normal;
}

.desktop .overlap-2 {
  position: absolute;
  width: 638px;
  height: 90px;
  top: 374px;
  left: 401px;
  background-color: #ffffff;
  border-radius: 10px;
  border: 1px solid;
  border-color: #bc9abd;
}

.desktop .img {
  width: 132px;
  height: 81px;
  top: 3px;
  left: 27px;
  position: absolute;
  object-fit: cover;
}

.desktop .text-wrapper-3 {
  position: absolute;
  top: 35px;
  left: 318px;
  font-family: "Poppins", Helvetica;
  font-weight: 700;
  color: #000000;
  font-size: 24px;
  text-align: center;
  letter-spacing: 0;
  line-height: normal;
}

.desktop .overlap-3 {
  position: absolute;
  width: 638px;
  height: 90px;
  top: 501px;
  left: 401px;
  background-color: #ffffff;
  border-radius: 10px;
  border: 1px solid;
  border-color: #bc9abd;
}

.desktop .image-2 {
  position: absolute;
  width: 131px;
  height: 66px;
  top: 11px;
  left: 42px;
  object-fit: cover;
}

.desktop .text-wrapper-4 {
  position: absolute;
  top: 31px;
  left: 315px;
  font-family: "Poppins", Helvetica;
  font-weight: 700;
  color: #000000;
  font-size: 24px;
  text-align: center;
  letter-spacing: 0;
  line-height: normal;
}

.desktop .overlap-4 {
  position: absolute;
  width: 638px;
  height: 90px;
  top: 628px;
  left: 401px;
  background-color: #ffffff;
  border-radius: 10px;
  border: 1px solid;
  border-color: #bc9abd;
}

.desktop .image-3 {
  width: 118px;
  height: 78px;
  top: 5px;
  left: 42px;
  position: absolute;
  object-fit: cover;
}

.desktop .text-wrapper-5 {
  position: absolute;
  top: 23px;
  left: 315px;
  font-family: "Poppins", Helvetica;
  font-weight: 700;
  color: #000000;
  font-size: 24px;
  text-align: center;
  letter-spacing: 0;
  line-height: normal;
}

.desktop .overlap-5 {
  position: absolute;
  width: 638px;
  height: 90px;
  top: 755px;
  left: 401px;
  background-color: #ffffff;
  border-radius: 10px;
  border: 1px solid;
  border-color: #bc9abd;
}

.desktop .image-4 {
  width: 140px;
  height: 78px;
  top: 4px;
  left: 42px;
  position: absolute;
  object-fit: cover;
}

.desktop .text-wrapper-6 {
  position: absolute;
  top: 42px;
  left: 318px;
  font-family: "Poppins", Helvetica;
  font-weight: 700;
  color: #000000;
  font-size: 24px;
  text-align: center;
  letter-spacing: 0;
  line-height: normal;
}
